.container {
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  margin: 0 3rem;
  display: flex;
  align-items: flex-end;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.arrowLeft {
  left: 0;
}
.arrowRight {
  right: 0;
}
.arrowLeft::before,
.arrowRight::before {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-top: 3px solid black;
  border-left: 3px solid black;
  content: '';
  box-shadow: -0.0625rem -0.0625rem 0 black;
}
.arrowLeft::before {
  transform: rotate(-45deg);
}
.arrowRight::before {
  transform: translateX(-50%) rotate(135deg);
}
.arrowLeft:hover::before,
.arrowRight:hover::before {
  border-color: rgba(0, 0, 0, 0.6);
  box-shadow: -0.0625rem -0.0625rem 0 rgba(0, 0, 0, 0.6);
}

.productContainer {
  margin: 1rem;
  text-align: center;
}

.productContainer h3 {
  font-weight: 400;
  margin: 1rem;
}

.imgContainer {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgb(0 0 0 / 0.2);
}

.img {
  width: 100%;
  height: 100%;
}

.justifyCenter {
  justify-content: center;
}
